:root {
  --primary-color: #fff;
  --secondary-color: #494949;
  --title-font-size: 46px;
  --title-font-size-lg: 100px;
  --email-font-size: 14px;
  --email-font-size-lg: 15px;
  --icon-font-size: 20px;
  --icon-font-size-sm: 20px;
  --transition-duration: 0.2s;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/hinted-Montserrat-Bold.woff2") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/hinted-Montserrat-Medium.woff2") format("truetype");
}

.container {
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  z-index: 1;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: var(--title-font-size);
  color: var(--primary-color);
  margin: 0 0 16px 0;
  letter-spacing: 0.06rem;
}

.title::selection,
.email::selection {
  background-color: white;
  color: black;
}

/* For Firefox */
.title::-moz-selection,
.email::-moz-selection {
  background-color: white;
  color: black;
}

.email {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--email-font-size);
  color: var(--secondary-color);
  text-decoration: underline;
  transition: color var(--transition-duration);
}

.email:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: var(--icon-font-size);
  position: fixed;
  bottom: 60px;
  z-index: 1;
}

.icons a {
  color: var(--secondary-color);
}

.icon {
  transition: color var(--transition-duration);
}

.icon:hover {
  color: var(--primary-color);
  cursor: pointer;
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .title {
    font-size: var(--title-font-size-lg);
  }

  .email {
    font-size: var(--email-font-size-lg);
  }

  .icons {
    font-size: var(--icon-font-size-sm);
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: var(--title-font-size-lg);
  }

  .email {
    font-size: var(--email-font-size-lg);
  }

  .icons {
    font-size: var(--icon-font-size-sm);
  }
}
