.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  text-align: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: white;
  margin: 0;
  letter-spacing: 0.1rem;
}

.email {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #494949;
  text-decoration: underline;
  margin-top: 10px;
  transition: all 0.1s;
}

.email:hover {
  color: white;
  cursor: pointer;
}

.icons {
  width: 240px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 80px;
  font-size: 24px;
}

.icons a {
  color: #494949;
}

.icon {
  transition: all 0.1s;
}

.icon:hover {
  color: white;
  cursor: pointer;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 768px) and (max-width: 991px) {
  .title {
    font-size: 180px;
    margin: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .title {
    font-size: 180px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 180px;
    margin: 0;
  }
}
